---
import {services}  from '../../config/service.json';
import video from '../../images/video.mp4';
import img from '../../images/optimizacin.svg';
---


<section class="services services__grid mt">
      <div class="service__item">
         <figure class="service__image">
            <video src={video} class="service__video" autoplay loop muted></video>
         </figure>
      </div>

      <div class="service__grid">
         {
            services.map(service =>(
               <div class="service__item">                  
                  <i class:list={service.icon}></i>
                  <h2 class="title">{service.title}</h2>
                  <p class="paragraph">{service.description}</p>
               </div>

            ))
         }
      </div>
</section>
